# ==========================
# ModelSim / QuestaSim
# ==========================
work/
transcript
*.wlf
modelsim.ini
*.mti
*.mpf

# ==========================
# Quartus
# ==========================
db/
incremental_db/
output_files/
greybox_tmp/
*.qws
*.smsg

# ==========================
# Temporary files
# ==========================
*.log
*.bak
*.tmp
*.jou
*.pb
*.vcd
*.fst

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Python
# ==========================
__pycache__/
*.pyc